<div class="main-contents-wrapper">
  <div class="main-contents">
    <h2>アーティストを登録しよう</h2>
    <%= form_tag("/artists") do %>
      <p>アーティスト</p>
      <input type="text" name="name" value="<%= @artist.name %>" placeholder="アーティスト名">
      <input type="submit" value="アルバム登録へ">
    <% end %>
  </div>
</div>