<div class="main-contents-wrapper">
  <div class="main-contents">
    <ul class="main-albums-list">
      <% @albums.each do |album| %>
        <li>
          <a class="album-jacket" href="#"><img src="<%= "/album_images/#{album.image_name}" %>"></a>
          <h5 class="album-title">「<%= album.title %>」</h5>
        </li>
      <% end %>
    </ul>
  </div>
</div>