<div class="main-contents-wrapper">
  <div class="main-contents">
    <h2>アルバムを登録しよう</h2>
    <%= form_tag("/albums", {multipart: true}) do %>
      <div class="form-section">
        <p>作品名</p>
        <input type="text" name="title" value="<%= @album.title %>" placeholder="アルバムタイトル">
      </div>
      <div class="form-section">
        <p>ジャケット画像</p>
        <input name="image" type="file">
      </div>
      <div class="form-section">
        <input type="submit" value="登録">
      </div>
    <% end %>
  </div>
</div>