*{
  box-sizing: border-box;
}

/*ここからヘッダー部分のCSS*/
header{
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #99aabb;
  padding: 10px;
}

.header-logo{
  float: left;
  font-size: 50px;
  font-weight: normal;
  margin-top: 10px;
}

.header-logo a{
  color: white;
  text-decoration: none;
}

.header-item{
  margin-top: 10px;
  display: flex;
}

.header-item form{
  display: flex;
  margin-top: 30px;
}

.search-engine{
  height: 20px;
  width: 300px;
  margin:0 5px 0 50px;
}

.search-btn{
  height: 25px;
  width: 25px;
  margin-right: 65px;
  border-radius: 4px;
}

.header-menu{
  display: flex;
  margin: 15px 0 0 20px;
}

.header-menu p{
  margin-right: 20px;
  min-width: 200px;
}

.header-btn{
  height: 30px;
  margin:10px 10px 0 0;
  background-color: #444444;
  border-radius: 5px;
  min-width: 150px;
}

.header-btn:hover{
  opacity: 0.5;
}

.header-btn a{
  color: white;
  text-decoration: none;
}

.header-nickname{
  color: black;
  text-decoration: none；
}

/*ここからalbumのindexページのCSS*/
.main-contents-wrapper{
  overflow: scroll;
}

.main-contents{
  padding-top: 90px;
}

.main-albums-list{
  max-width: 1350px;
}

.main-albums-list li{
  float: left;
  list-style: none;
  width: 24%;
  min-height: 300px;
  min-width: 315px;
  margin: 5px;
}

.album-jacket img{
  height: 300px;
  width: 315px;
}

/*ここからalbumのshowページのCSS*/
.albums-show-title{
  font-size: 50px;
  margin-left: 50px;
}

.albums-show-title a{
  color: black;
}

.star-wrapper{
  margin-left: 1000px;
}

.star{
  height: 30px;
  width: 35px;
}

.show-wrapper{
  display: flex;
}

.album-show-jacket{
  height: 360px;
  width: 430px;
  margin-left: 100px;
}

.show-wrapper p{
  height: 360px;
  width: 390px;
  padding-left: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  overflow: scroll;
}

.show-items{
  float: right;
  display: flex;
}

.album-user{
  margin-right: 8px;
}

.album-user a{
  color: black;
}


.albums-show-btn{
  height: 30px;
  width: 80px;
  border-radius: 5px;
  background-color: #444444;
  margin: 5px 8px 0 0;
}

.albums-show-btn a{
  color: white;
}

/*ここからloginページのCSS*/
.login-signup-wrapper{
  height: 500px;
  width: 400px;
  margin: 50px 0 0 500px;
}

.field{
  margin: 10px;
}

.actions{
  margin-bottom: 10px;
}

/*各クラスnewページのCSS*/
.new-logo{
  margin-left: 50px;
}

.new-wrapper{
  padding-left: 30px;
}

.text-line{
  height: 30px;
  width: 250px;
  margin-left: 80px;
}

.form-section{
  margin-bottom: 20px;
}

.form-section p{
  margin-left: 100px;
}

.album-text-line{
  margin-left: 120px;
}

.image-area{
  margin-left: 120px;
}

.album-submit-btn{
  margin-left: 370px;
}

.rate-area{
  margin-left: 120px;
  height: 30px;
  width: 50px;
}

.review-area{
  margin-left: 120px;
  height: 350px;
  width: 750px;
  padding: 15px;
}

.submit-btn:hover{
  opacity: 0.5;
}

.review-submit-btn{
  margin-left: 850px;
}

/*artistsのnewページのCSS*/
.artists-list li{
  font-size: 30px;
  margin-left: 30px;
}