header{
  height: 60px;
  background-color: #99aabb;
  padding: 10px;
}

.header-logo{
  float: left;
  font-size: 50px;
  font-weight: normal;
  margin: 10px 0 0 0; 
}

.header-logo a{
  color: white;
  text-decoration: none;
}

.header-item{
  margin-top:   10px;
  display: flex;
}

.header-item form{
  display: flex;
  margin-top: 10px;
}

.search-engine{
  
  height: 20px;
  width: 300px;
  margin:0 5px 0 50px;
}

.search-btn{
  height: 25px;
  width: 25px;
  margin-right: 65px;
  border-radius: 4px;
}

.header-menu{
  display: flex;
  margin-left: 20px;
}

.header-menu p{
  margin-right: 20px;
}

.header-btn{
  height: 30px;
  margin:10px 10px 0 0;
  background-color: #444444;
  border-radius: 5px;
}

.header-btn:hover{
  opacity: 0.5;
}

.header-btn a{
  color: white;
  text-decoration: none;
}

.header-nickname{
  color: black;
  text-decoration: none；
}